/*
 * Skin: Blue
 * ----------
 */
@import "../bootstrap-less/mixins.less";
@import "../bootstrap-less/variables.less";
@import "../variables.less";
@import "../mixins.less";

.skin-blue {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@light-blue; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@light-blue, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #333;
              &:hover {
                background: darken(@light-blue, 5%);
              }
            }
          }
        }
      }
    }
    //Logo

    li.user-header {
      background-color: @light-blue;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@light-blue);
}

.skin-blue.layout-top-nav .main-header > .logo {
  .logo-variant {
    background-color: unset;
  }
}



.btn, btn-sm, .btn:hover {


  &.btn-primary, .btn-primary:link {
    background-color: darken(@light-blue, 10%);
    border-color: darken(@light-blue, 20%);
    color: #fff !important;
  }


  &a.btn-primary:hover {
    background-color: darken(@light-blue, 20%);
    border-color: darken(@light-blue, 20%);
    color: #fff;
  }

  &.btn-white:link {
    background-color: darken(@light-blue, 10%);
    color: #fff;
  }

  &.btn-white:hover {
    background-color: darken(@light-blue, 30%);
    color: #fff;
  }

  &.btn-white:visited {
    background-color: darken(@light-blue, 30%);
    color: #fff;
  }
}



.btn-warning, .btn-warning:link, a.btn-warning:hover, .btn-warning:link, .btn-warning:visited,
.btn-danger, .btn-danger:link, a.btn-danger:hover, .btn-danger:link, .btn-danger:visited
{
    color: #fff;
}

.btn-default:link, a.btn-default:hover, .btn-default:visited
{
  color: @dark-gray;
}


:root {
  --button-default: @dark-gray;
  --button-primary: darken(@blue, 25%);
  --button-hover: darken(@blue, 30%);
  --header: @blue; /* Use same as Header picker */
  --text-main: #BBB;
  --text-sub: #9b9b9b;
  --link:darken(@blue, 15%); /* Use same as Header picker, lighten by 70% */
  --visited-link: lighten(@blue,10%); /* Use same as Header picker, lighten by 70% */
  --hover-link: lighten(@blue,20%); /* Use same as Header picker, lighten by 70% */
  --nav-link: #FFF; /* Use same as Header picker */
  --light-link: #fff; /* Use same as Header picker */
}
a.btn-info:link, a.btn-warning:link, a.btn-danger:link{
  color: #FFF;
}
&a.btn-info:visited, a.btn-warning:visited, a.btn-danger:visited{
  color: #FFF;
}
a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  color: var(--hover-link);
}

.text-primary {
  color: darken(@light-blue, 20%);
}
.far fa-life-ring{
  color:var(--link);
}

.fixed-table-container tbody .selected td {
  background-color: #fff8af;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
}

.search-highlight, .search-highlight:hover {
  background-color: #e9d15b;
}

// Link colors for the settings page
a.settings_button:link, a.settings_button:visited, a.settings_button:hover {
  color: @light-blue;
}

.content-wrapper{
  background-color: #f3f4f4;
}

.skin-blue .sidebar a{
  color: #677788;
}

.skin-blue .main-header .navbar .nav > li > a{
  color: #677788;
}
body{
  color: #677788;
}

a:link{
  color: #677788;
}
nav.navbar.navbar-static-top {
  box-shadow: 6px 4px 30px 0 rgba(38, 60, 85, 0.12);
  padding: 20px;
}
div#setting-list {
  margin-top: 30px;
}
.sidebar{
  margin-top: 120px;
 padding: 20px;
}
.content-header {
  margin-right: 35px;
  margin-left: 35px;
}

.sidebar-mini.sidebar-collapse .main-sidebar{
  width: 90px !important;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
  color: #0597ff;
  background: #dbe4f3;
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #f3f4f4;
  border-left: 1px solid #d4d8dd;
}
.fix-sticky{
  right: unset !important;
}
.box-body{
  padding: 30px;
}
.row{
  margin: 20px;
}
.box{
  box-shadow: 0 2px 14px rgba(38, 60, 85, 0.16);
  border-radius: 13px;
  border-top: 0px;
}
.btn.btn-primary, btn-sm.btn-primary, .btn:hover.btn-primary, .btn .btn-primary:link, btn-sm .btn-primary:link, .btn:hover .btn-primary:link {
  background-color: #ffa700;
  border-color: transparent;
  color: #fff !important;
}
.div-wrapper{
  padding: 2px;
}
.skin-blue .treeview-menu > li > a
{
  color: #677788;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: rgba(38, 60, 85, 0.04);
}
.skin-blue .treeview-menu > li.active > a{
  color: #0597ff;
}